* {
    text-align: center;
    font-family: 'Varela Round', sans-serif;
}

body {
    background-color: #007e33;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

/* =========== opening background ==========*/

.logo-bg {
    background: #007e33 url("../images/CardGameLogo.svg") no-repeat center;
    background-size: contain;
}

/* ============ game info ========== */

#info-container {
    margin-top: 10vh;
    margin-bottom: 10vh;
}

#close-info {
    position: absolute;
    right: 10px;
    cursor: pointer;
}

#info-container .card-body {
    height: 70vh;
    overflow: scroll;
}

#creator-links {
    margin-top: 10vh;
}

#creator-links  i {
    margin: 0 2vw;
    color: #cc0000;
}

#creator-links img {
    height: 28px;
    display: inline-block;
    margin-top: -15px;
    box-shadow: none;
}

/* ========== text-col ========== */

.text-col {
    padding: 5vh 0;
}

.card {
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.8);
}

.card-header {
    background-color: #cc0000;
}

/* container of the flashing message when the player wins or loses */
.message-holder {
    height: 80px;
}

/* ========== card-col ========== */

#cards {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
}

img {
    margin: auto;
    height: 25vw;
    display: inline-block;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.8);
    cursor: pointer;
    transform-origin: center;
    -moz-transform-origin: center;
    -ms-transform-origin: center;
    -o-transform-origin: center;
    -webkit-transform-origin: center;
}

#clubs {
    transform: translate(70%, 30%) rotate(-35deg);
    -moz-transform: translate(70%, 30%) rotate(-35deg);
    -ms-transform: translate(70%, 30%) rotate(-35deg);
    -o-transform: translate(70%, 30%) rotate(-35deg);
    -webkit-transform: translate(70%, 30%) rotate(-35deg);
}

#diamonds {
    transform: translate(20%) rotate(-10deg);
    -moz-transform: translate(20%) rotate(-10deg);
    -ms-transform: translate(20%) rotate(-10deg);
    -o-transform: translate(20%) rotate(-10deg);
    -webkit-transform: translate(20%) rotate(-10deg);
}

#spades {
    transform: translate(-20%) rotate(10deg);
    -moz-transform: translate(-20%) rotate(10deg);
    -ms-transform: translate(-20%) rotate(10deg);
    -o-transform: translate(-20%) rotate(10deg);
    -webkit-transform: translate(-20%) rotate(10deg);
}

#hearts {
    transform: translate(-70%, 30%) rotate(30deg);
    -moz-transform: translate(-70%, 30%) rotate(35deg);
    -ms-transform: translate(-70%, 30%) rotate(35deg);
    -o-transform: translate(-70%, 30%) rotate(35deg);
    -webkit-transform: translate(-70%, 30%) rotate(35deg);
}

/* ========== game-info ========== */

#open-info {
    border-radius: 50%;
    height:50px;
    width: 50px;
    position: fixed;
    bottom: 2vh;
    left: 0;
    right: 0;
}
/* ========== media queries =========== */

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

    #info-container {
        padding: 0;
        height: 80vh;
        width: 90vw;
        margin: 10vh auto;
    }

    .col-6 {
        padding-left: 0;
        padding-right: 0;
    }

    #game-container .card {
        width: 40vw;
        margin: 1vh auto;
    }

    img {
        margin: auto;
        height: 35vw;
        display: inline-block;
        box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.8);
        transform-origin: center;
        -moz-transform-origin: center;
        -ms-transform-origin: center;
        -o-transform-origin: center;
        -webkit-transform-origin: center;
    }

}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {

    .col-6 {
        margin: 1vw 0;
    }

}

@media (max-width: 991.98px) {

    .col-md-6 {
        margin: 1vw 0;
    }

}