/* * {
	box-sizing: border-box;
	font-family: 'Varela Round', sans-serif;
}

img {
	opacity: 1;
}

img:hover {
	opacity: .7;
} */

* {
    text-align: center;
    color: #196F3D;
}

body {
    background-color: #52BE80;
}

.card-header {
    background-color: #196F3D;
}